<h1><%= @elvis.count %> Tweets </h1>
<% @elvis.each do |tweet| %>
  <p>
    <% unless tweet.geo.nil? %>
      Lat Long: <%= tweet.geo.lat %>
      <%= tweet.geo.long %>
    <% end %>
    <p>Text: <%= tweet.text %></p>
    Location: <%= tweet.user.location %>
  </p>
  <hr>
<% end %>

<p>
  <%= link_to("instagram stuff", root_url) %>
</p>
