<h1> <%= @all_posts.inject(0) { |sum, page| sum + page['data'].count } %> </h1>

<p>
  <%= link_to("twitter stuff", twitter_path) %>
</p>

<% @all_posts.each do |page| %>
  <% page['data'].each do |post| %>
    <% unless post['location'] == nil %>
      <%= post['location']['latitude'] %>
      <%= post['location']['longitude'] %>
      <%= image_tag(post['images']['standard_resolution']['url'], width: '20%', height: '20%') %>
    <% end %>
  <% end %>
<% end %>
